$primary: 200;
$secondary: 60;
$red: 0;
$amber: 60;
$green: 165;

$lightness: 50%;

$foreground: 10%;
$darkest: 20%;
$darker: 30%;
$dark: 40%;
$light: 60%;
$lighter: 70%;
$lightest: 80%;
$background: 90%;
$neutral: 5%;
