@import 'colors';
@import '../node_modules/katex/dist/katex';

/******************************************************************************/
/* App */
/******************************************************************************/

* {
    font-family: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font: lighter 1.3rem/1.5 sans-serif;
}

h1 {
    margin: 2rem 0 0;
}

h2 {
    margin: 1.5rem 0 0;
}

header {
    display: grid;
    grid-template: 1fr 1fr / 100%;
    justify-items: center;

    margin: 1rem 0 0 0;
    position: relative;
    width: 100%;
    height: 10rem;

    nav {
        ul {
            li {
                display: inline;
            }
        }
    }
}

footer {
    min-height: 50rem;
    background: hsl($primary, $neutral, $darkest);
}

.container {
    background: hsl($primary, $neutral, $background);
    border-top: 1px solid #000;
    display: grid;
    grid-template-columns: minmax(60rem, max-content);
    justify-content: center;
    margin: 0;
    padding: 0 1rem 0 1rem;
    position: relative;

    div.live-toplevel {
        min-height: 60rem;
    }

    .live-toplevel {
        background: #fff;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
        box-shadow: 3px 0 5px -3px hsl($primary, $neutral, $darker), -3px 0 5px -3px hsl($primary, $neutral, $darker), 0 3px 5px 0 hsl($primary, $neutral, $darker);
        padding: 0 1rem 1rem;
        margin-bottom: 1rem;
    }
}

table {
    border-collapse: collapse;
    font-size: 0.8rem;

    /* Zebra striping */
    tr:nth-of-type(odd) {
	background-color: hsl($primary, $neutral, $background);
    }

    tr:hover {
	background-color: hsl($primary, 50%, $lightest);

	th {
	    background-color: hsl($primary, 50%, $darker);
	}
    }

    th {
	background-color: hsl($primary, 50%, $dark);
	color: white;
	font-size: 1.1rem;
	font-weight: bold;
    }

    td, th {
	border: 1px solid #ccc;
	padding: 6px;
    }

    thead {
	th {
	    text-align: center;
	}
    }

    tbody {
	th {
	    text-align: left;
	}
    }

    .cellZero {
	display: inline-block;
	font-family: monospace;
	text-align: center;
	width: 100%;
    }

    .cellBNumber, .cellMNumber, .cellGenNumber {
	display: inline-block;
	font-family: monospace;
	text-align: right;
	width: 100%;
    }

    .cellBNumber:after {
	color: hsl($secondary, 50%, $dark);
	content: ' B';
    }

    .cellMNumber:after {
	color: hsl($red, 50%, $dark);
	content: ' M';
    }

    .cellText, .cellLink {
	display: inline-block;
	text-align: center;
	width: 100%;
    }
}

dl {
    display: grid;
    margin-top: 1rem;
    width: 40rem;
    grid-template-columns: auto 1fr;

    dt {
	color: $foreground;
	font-weight: bold;
	padding: 2px 4px;
	text-align: right;
    }

    dt::after {
	content: ':';
    }

    dd {
	margin: 0;
	padding: 2px 4px;
    }
}

.cellWithHoverBox {
    position: relative;

    div.cellHoverBox {
        background: hsl($primary, $neutral, $lightest);
        border: 1px solid hsl($primary, $neutral, $darker);
        color: black;
        display: none;
        font-size: 1rem;
        font-weight: normal;
        left: 3rem;
        min-width: 8rem;
        padding: 0.2rem;
        position: absolute;
        top: 2rem;
        width: max-content;
        z-index: 100;
    }
}

.cellWithHoverBox:hover>div.cellHoverBox {
    display: block;
}

form {
    display: grid;
    margin-top: 1rem;
    width: 40rem;
    grid-template-columns: auto 1fr auto;
    gap: 0.4rem 1rem;

    button[type=submit] {
	margin-top: 1rem;
    }
}

code {
    font-family: monospace;
}

ul.fieldList {
    li {
        list-style: disc;
        margin-left: 2rem;
    }
}

/******************************************************************************/
/* Utility */
/******************************************************************************/

.margin-y-1 { margin-top: 1rem; }

.padding-xb-1 { padding-left: 1rem; padding-right: 1rem; }

.button, .discreteButton {
    background-color: hsl($primary, 50%, $lighter);
    border-radius: 4px;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 1.4rem;
    padding: 0 12px;
    text-decoration: none;
}

.button:hover {
    background-color: hsl($primary, 50%, $dark);
}

.discreteButton {
    background-color: #fff;
    border: 1px solid hsl($primary, 50%, $lighter);
    font-size: 1.2rem;
}

.discreteButton:hover {
    background-color: hsl($primary, 50%, $lighter);
}

.errorContainer {
    background-color: hsl($red, 50%, $lightest);
    border-radius: 4px;
    padding: 1rem;
    width: 40rem;
}

td.extraCol, th.extraCol {
    color: #000;
    background-color: #fff;
    border: none;
    padding-left: 1rem;
}

.errorText {
    color: hsl($red, 50%, 50%);
}

/******************************************************************************/
/* View */
/******************************************************************************/

.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
    display: none;
}

.phx-click-loading {
    opacity: 0.5;
    transition: opacity 1s ease-out;
}

.phx-disconnected{
    cursor: wait;
}
.phx-disconnected *{
    pointer-events: none;
}

.phx-modal {
    opacity: 1!important;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.phx-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Alerts and form errors */
.container {
    .alert {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .alert-info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
    .alert-warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
    .alert-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
    .alert p {
        margin-bottom: 0;
    }
    .alert:empty {
        display: none;
    }
}
.invalid-feedback {
    color: #a94442;
    display: block;
}
