<%= if length(@stmt.dates) == 0 do %>
    <div class="errorContainer">
        No statements found.
    </div>
<% else %>
    <table>
        <thead>
            <tr>
                <th>Metric</th>
                <%= for d <- @stmt.dates do %>
                    <th><%= TableFormat.short_date(d) %></th>
                <% end %>
                <th class="extraCol">Field</th>
            </tr>
        </thead>
        <tbody>
            <%= for h <- @stmt.headers do %>
                <tr>
                    <th><%= h %></th>
                    <%= for d <- @stmt.dates do %>
                        <td><%= raw(Map.get(Map.get(@stmt.data, d), h)) %></td>
                    <% end %>
                    <td class="extraCol">
                        <%= field_table_cell(@ticker, @raw_table, h, Map.get(@stmt.fields, h), @socket) %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
